* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body { font-family: sans-serif; }

.packery {
	background-color: rgba (255, 0, 0, 0);
	max-width: 1800px;
	margin: 0 auto;
}

/* clearfix */
.packery:after {
	content: ' ';
	display: block;
	clear: both;
}

.item {
	float: left;
	width: 290px;
}

.item:hover {
	border-color: white;
	cursor: pointer;
}



.item.gigante {
	width: 580px;
	z-index: 2;
}
