{% extends 'base.html' %}

{% block content %}

<link href="/static/css/myisotope.css" rel="stylesheet"/>
<link href="/static/css/rainbow.css" rel="stylesheet"/>
<link href="/static/css/prettyPhoto.css" rel="stylesheet"/>

<script src="/static/js/modernizr2.js"></script>

<div id="myheader" class="index" style="display:table; width: 100%">
	<div style="width: 320px; margin: auto; display: table-cell">
		<div id="masthead">
			<input type="image" id="contact_button" src="/static/img/signature.png" border="0"></input>
		</div>
		<div id="contact_text" style="width: 320px; margin: auto; opacity: 0.0; text-align: center">
			Antonin is available as an escort boy every night except on Friday, because he respects sabbat.
		</div>
		<div style="position: absolute; bottom: 0; width:320px; margin: auto; text-align: center; left: 50%; margin-left: -160px">
			<a id="scroll_to_nav" href="#navbar-wrapper">
				Photos
			</a>
		</div>
	</div>
</div>

<div id="navbar-wrapper">
	<div id="nav" class="navbar" role="navigation" style="background-color=rgba(0, 0, 0, 0.0) !important; z-index:3;">
		<div class="container" style="text-align: center;">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="border: 2px; border-color: #FFFFFFF">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-collapse collapse" style="height:1px margin: 0 auto;">
					<ul id="filters">
						{% for gallery in galleries %}
						<li>
							<button class="button {{ gallery.checked }}" data-filter=".{{ gallery.title }}">
								{{ gallery.title }}
							</button>
						</li>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div style="margin: 15px auto; text-align: center;">


	<div id="isocontainer" class="isotope photos clearfix">
		{% for photo in photos %}
		<div class="photo {{ photo.dummy }}" style="width: 400px; height:{{ photo.get_height_for_display_width }}px;">
			<a href={{ photo.get_better_url }} rel="prettyPhoto[all_gal]" title="{{ photo.caption }}">
				<img width=400px height={{ photo.get_height_for_display_width }}px class="item" data-original={{ photo.get_display_url }} />
			</a>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/jquery.isotope.min.js"></script>
<script src="/static/js/jquery.lazyload.js"></script>
<script src="/static/js/lazy.js"></script>
<script src="/static/js/rainbow.js"></script>
<script src="/static/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$("a[rel^='prettyPhoto']").prettyPhoto({
				gallery_markup: "",
		});
	});
</script>
{% endblock %}
